<h1>Editing scale</h1>

<% form_for(@scale) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :pattern %><br />
    <%= f.text_field :pattern %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @scale %> |
<%= link_to 'Back', scales_path %>
