
<script>
 $(document).ready(function(){
   $("#example").dialog();
 });
</script>


<script>
 $(document).ready(function(){
   $("#player").dialog();
 });
</script>

<script>
 $(document).ready(function(){
   $("#example1").dialog();
 });
</script>

<script>
 $(document).ready(function(){
   $("#example2").dialog();
 });
</script>

<script>
 $(document).ready(function(){
   $("#example3").dialog();
 });
</script>

	<script type="text/javascript">
	$(function() {
		$("#slider0").slider({
			range: "min",
			value: 60
		});
		$("#slider1").slider({
			orientation: "vertical",
			range: "min",
			value: 88
		});
		$("#slider2").slider({
			orientation: "vertical",
			range: "min",
			value: 77
		});
		$("#slider3").slider({
			orientation: "vertical",
			range: "min",
			value: 55
		});
		$("#slider4").slider({
			orientation: "vertical",
			range: "min",
			value: 33
		});
		$("#slider5").slider({
			orientation: "vertical",
			range: "min",
			value: 40
		});
		$("#slider6").slider({
			orientation: "vertical",
			range: "min",
			value: 45
		});
		$("#slider7").slider({
			orientation: "vertical",
			range: "min",
			value: 70
		});
		
	});
	
	</script>

<script type="text/javascript">
	$(function() {
		$("#slider9").slider({
			range: "min",
			value: 60
		});
	});
	</script>
	
	<script type="text/javascript">
		$(function() {
			$("#slider10").slider({
				range: "min",
				value: 60
			});
		});
		</script>
		
		<!-- Instr Arp  -->
		<script type="text/javascript">
			$(function() {
				$("#slider11").slider({
					range: "min",
					value: 60
				});
			});
			</script>

<!-- This is the start of the instrument widget -->

<!-- Widgets starts Here -->	


<!-- Master Volume System -->
<div id="player" class="flora" title="Player">
	<div id="midi_result">
	</div>
</div>
</div>


<!-- Text2Midi Converter -->
<div id="example1" class="flora" title="Text 2 Midi Converter">
	<h2>Text 2 Midi Converter</h2>
	<div id="midi_form">
	 <%= text_area_tag "midi_text", "put text here" %>
	  <%= hidden_field_tag 'tempo', 140 %>
	  <%= hidden_field_tag 'instr', 0 %>
	  <!-- <%= hidden_field_tag 'dur', "quarter" %> -->
	
		<span><%= link_to_remote "Convert Text", :update => "midi_result", :url => {:controller => :example, :action => :make_midi}, :submit => 'midi_form' %></span>
	</div>
</div>
</div>
<!-- <select id="duration">
	<option value="">Choose a Duration</option>
	<option value="whole">whole</option>
	<option value="half">half</option>
	<option value="quarter">quarter</option>
	<option value="8th">8th</option>
	<option value="16th">16th</option>
	<option value="32nd">32nd</option>
</select> -->

<!-- Global Settings System -->
<div id="example2" class="flora" title="Global Settings"><br/>
<form action="#">
<center>
Track Title
<input class="name" type="text" size="13"/>	
<br/>
<tr><b>Key</b></tr>	
<tr><select style="width:50px" id="key">
		<option value"0">C</option>
		<option value"1">C#</option>
		<option value"2">D</option>
		<option value"3">D#</option>
		<option value"4">E</option>
		<option value"5">F</option>
		<option value"6">F#</option>
		<option value"7">G</option>
		<option value"8">G#</option>
		<option value"9">A</option>
		<option value"10">A#</option>
		<option value"11">B</option>
	</select>
	</tr>
	<br/>
<b> Tempo </b>						
<div id="slider9" style="height:10px; margin:10px"></div>
<button type="button" onclick="submit">Generate a new Instrument</button>
<button type="button" onclick="submit">Compose Track</button>
</form>
</center>
</div>
</div>




<%= link_to_unless_current "Generate Music", :controller => "example" , :action => "write_text" %> 
<%= link_to_unless_current "Theory", :controller => "main", :action => "theory" %>
<%= link_to_unless_current "About", :controller => "main", :action => "about" %>