<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Songs: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :defaults %>
<%#= javascript_include_tag "prototype", "effects" %>
<%= javascript_include_tag "slider"%>
<%= javascript_include_tag "midi_slider.js" %>
</head>
<body>
  <div id="drag_item">
    <div id="container">
     <%= yield %>
    </div>
    
    
    <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2927276-10");
pageTracker._trackPageview();
} catch(err) {}</script>
    
 </body>
</html>
<%= draggable_element "drag_item" %>
